/* CSS */
html, body{
  width: 100%;
  height: 100%;
  margin: 0;
}

h4 {
  margin: 0;
}

form{
  margin: 10px 0;
}
.main-wrapper {
  width: 100%;
  height: 100%;
}

.main-btn-container{

}


.cocktail-container{
  /* display: none; */
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  /* height: 400px; */
  width: 600px;
  position: relative;
  margin: 10px auto;
  -webkit-box-shadow: 8px 8px 6px -6px black;
  -moz-box-shadow: 8px 8px 6px -6px black;
  box-shadow: 8px 8px 6px -6px black;
}

/* .cocktail-container:hover{
  transform: scale(1.05);
} */

.name-btn-wrapper {
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(0,0,0,.6);
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cocktail-name{
  padding: 10px 15px;
  /* width: 400px; */
  /* position: absolute; */
  color: white;
  /* z-index: 100; */
  /* left: 50%; */
  /* bottom: 0; */
  /* margin-left: -200px; */
  /* text-align: left; */
  /* float: left; */
}
/* .cocktail-name h2 {
  text-align: center;
} */
.cocktail-image-container{
  height: 400px;
  width: 600px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.cocktail-image-container img{
  width: 100%;

}

.cocktail-btn-container{
  /* position: absolute;
  left: 50%;
  margin-left: -168px;
  bottom: 10%; */
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-right: 10px;
  /* float: right; */
}

.cocktail-description {
  /* top: 190px;
  left: 15%; */
  /* margin-left: -200px; */
  /* position: absolute; */
  /* width: 400px; */
  /* margin: 0 auto; */
  text-align: left;
  /* font-size: 10px; */
  padding: 10px 0;
  color: black;
}
.comment-container {
  padding-top: 15px;
}
.comments-ul {
  padding-left: 0;
}
.comments-ul li span:nth-child(1){
  min-width: 80px;
  font-weight: bold;
  display:inline-block;
}
.recipe-comment-container{
  padding: 25px;
}
.recipe {
  /* position: relative; */
  /* min-height: 300px; */
  /* width: 600px; */
  /* margin: 0 auto; */
  /* text-align: center; */
  /* display: none; */
}

.recipe-comment-container{
  display: none;
}


.like-num, .comment-num, .recipe-btn {
  color: #fff;
  border: 1px #fff solid;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  background-color: black;
}

.like-btn-cont, .recipe-btn-cont{
  padding: 5px;
}


.comments-ul li{
  list-style-type: none;

}
