/* CSS */
.main-btn-container{

}


.cocktail-container{
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  /* height: 400px; */
  width: 600px;
  position: relative;
  margin: 10px auto;
  -webkit-box-shadow: 8px 8px 6px -6px black;
  -moz-box-shadow: 8px 8px 6px -6px black;
  box-shadow: 8px 8px 6px -6px black;
}

.cocktail-name{
  width: 400px;
  position: absolute;
  color: white;
  z-index: 100;
  left: 50%;
  top: 100px;
  margin-left: -200px;
  /* text-align: center; */
}
.cocktail-name h2 {
  text-align: center;
}
.cocktail-image-container{
  height: 400px;
  width: 600px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.cocktail-image-container img{
  width: 100%;
}

.cocktail-btn-container{
  position: absolute;
  left: 50%;
  margin-left: -168px;
  bottom: 10%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.cocktail-description {
  top: 190px;
  left: 15%;
  /* margin-left: -200px; */
  position: absolute;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  font-size: 10px;
  color: white;
}

.recipe {
  position: relative;
  /* min-height: 300px; */
  width: 600px;
  margin: 0 auto;
  text-align: center;
  /* display: none; */
}

.recipe-comment-container{
  display: none;
}


.like-num, .comment-num, .recipe-btn {
  color: #fff;
  border: 1px #fff solid;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;

}

.like-btn-cont, .recipe-btn-cont{
  padding: 10px;
}


.comments-ul li{
  list-style-type: none;

}